{% extends "layout.html" %}
    {% macro render_field(field) %}
        <div class="form-group">
            <label>{{ field.label.text }}</label>
            {{ field(class_='form-control',ng_model='data.title') }}
        </div>
    {% endmacro %}
    {% block content %}
        <form class=form>
            <fieldset>
                <legend>New Talk</legend>
                {{ render_field(form.title) }}
                <a class="btn btn-primary-outline" ng-click="addTalk(data.title)">Add Topic</a>
            </fieldset>
        </form>
    {% endblock %}
