{% extends "layout.html" %}
    {% macro render_field(field,label=false,class_='form-control',div_class='form-group') %}
        <div class="{{ div_class }}">
            {% if label %}
                <label class="control-label">{{ label }}</label>
            {% endif %}
                {% set model = "addContent.%s" % field.name %}
                {{ field(get_hidden=1,class_=class_,ng_model=model) }}
        </div>
    {% endmacro %}
    {% block content %}
    <div class=row>
        <div class="col-md-7 col-md-offset-2" ng-controller="AddContentCtrl as ctrl">
            <div class="card card-block">
                <form class=form {% if is_edit %}action="" {% endif %}method="post" name="addContentForm">
                    <fieldset>
                        <legend>Add Content</legend>
                        <div class=row>
                            {{ render_field(form.sub) }}
                            {{ render_field(form.order,form.order.label.text,div_class='form-group col-md-6') }}
                            {{ render_field(form.typecode,form.typecode.label.text,div_class='form-group col-md-6') }}
                            {{ render_field(form.bullet,form.bullet.label.text,div_class='col-md-12') }}
                            {{ render_field(form.content,form.content.label.text,div_class='form-group col-md-12') }}
                            <div class="col-md-2 col-md-offset-10">
                                {% if not is_edit %}
                                    <button  class="btn btn-success" type="submit" ng-click="ctrl.submit(addContentForm)">Add</button>
                                {% else %}
                                    <input type=submit value="Save" class="btn btn-success" />
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

