{% extends "layout.html" %}

    {% block content %}
        <div class=row>
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div class="card-block">
                        {% if is_code %}
                            {% highlight code_language|default('python') -%}
                                    {{ content|safe }}
                            {%- endhighlight %}
                        {% elif is_markdown %}
                            {{ content | markdown | safe }}
                        {% elif is_html %}
                            {{ content | safe }}
                        {% elif is_image %}
                            <img src="{{ content|trim }}" />
                        {% else %}
                            {{ content }}
                        {% endif %}
                    </div>
                    <div class=card-footer>
                        <div class=row>
                            <div class=col-md-5>
                                {% if prev_id %}
                                    <a class="pull-left btn btn-sm btn-success-outline" href="{{ url_for('.view_content',content_id=prev_id) }}"> &#9668; last</a>
                                {% endif %}
                            </div>
                            <div class=col-md-2>
                                <a class="btn btn-sm btn-success-outline" href="{{ url_for('.view_talk',talk_id=talk.id) }}">back to talk</a>
                            </div>
                            <div class=col-md-5>
                                {% if next_id %}
                                    <a class="pull-right btn btn-sm btn-success-outline" href="{{ url_for('.view_content',content_id=next_id) }}"> &#9658; next</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
