{% extends "layout.html" %}
    {% block content %}
                    <div class=row>
                        <div class="col-md-5 col-md-offset-3">                            
                        {% for t in talk_names %}
                        <div class=card>                        
                            <div class="card-block card-title text-center">                                
                                {{ t['name'] }}       
                            </div>
                            <div class="card-block row">
                                <div class="col-md-6">
                                    <a class="btn btn-block group-btn btn-primary-outline" href="/talks/view/{{ t['id'] }}">view</a>
                                </div>
                                <div class="col-md-6">
                                    {% if is_edit_mode %}
                                    <a class="btn group-btn btn-block btn-danger-outline" href="/talks/delete/{{ t['id'] }}">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
    {% endblock %}
