<html ng-app="app">
    <head>
        <link rel="stylesheet" href="/static/vendor/css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/code.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body ng-controller="TalkCtrl">
        <div class=container-fluid>
                    <nav class="navbar navbar-light bg-faded">
                          <a class="navbar-brand" href="/talks">Flask Talks</a>
                          <div class=container-fluid>
                                <ul class="nav navbar-nav">
                                   <li class="nav-item active">
                                    <a class="nav-link" href="/talks"><span class="fa fa-home"></span> Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/talks"><span class="fa fa-magic"></span> Talks</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/talks/add"><span class="fa fa-money"></span> Add Talk</a>
                                </li>
                                {% if talk %}
                                <li class="nav-item">
                                    {% if is_edit_mode %}
                                        <a class="nav-link" href="{{ url_for('api.edit_mode',talk_id=talk_id,edit_mode='off') }}"><span class="fa fa-book"></span> Edit Off</a>
                                    {% else %}
                                        <a class="nav-link" href="{{ url_for('api.edit_mode',talk_id=talk_id,edit_mode='on') }}"><span class="fa fa-book"></span> Edit On</a>
                                    {% endif %}

                                </li>
                                {% endif %}
                            </ul>
                            <!--
                            <form class="form-inline navbar-form pull-right">
                                <input class="form-control" type="text" placeholder="Search">
                                <button class="btn btn-success-outline" type="submit">Search</button>
                            </form>
                            -->
                        </div>
                    </nav>
            <div class=row>
                <div class=col-md-12>
                    <div class=page-top></div>
                    {% block content %}
                    {% endblock %}                    
                </div>
            </div>
        </div>
        <script src="/static/vendor/angular/angular.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
