{% extends "layout.html" %}
    {% block content %}
        <div class=row>
            <div class="col-md-8 col-md-offset-2">
                <div class=row>
                    <div class=col-md-8>
                        <h1 class="display-1 text-capitalize" style="display:inline-block;">{{ talk['title'] }}</h1>
                    </div>
                    <div class="col-md-1 col-md-offset-3">
                       <a 
                           class="btn btn-primary-outline" 
                           href="/talks/topic/add/{{ talk_id }}/" 
                           style="display:inline-block;"
                        >Add Topic</a>
                    </div>
                    <div class=col-md-12>
                        {% for topic in talk['topics'] %}            
                        <div class=title style="display:inline-block">
                            <h2 class="lead" style="display:inline-block">{{ topic['name'] }}</h2> 
                            <a 
                                href="{{ url_for('.view_topic',topic_id=topic['_id']['$oid']) }}" 
                                style="display:inline-block"
                                class="btn btn-primary-outline"
                            >View</a>
                            <a 
                                href="{{ url_for('.delete_topic',obj_id=topic['_id']['$oid'],talk_id=talk_id) }}" 
                                style="display:inline-block"
                                class="btn btn-danger-outline"    
                            >Delete</a>
                        </div>
                        {% for sub in topic['sub_topics'] %}                    
                            <div class="text-center card">
                                <div class="card-block">
                                    <h5 class="card-title">
                                            {{ sub['name'] }}
                                    </h5>
                                        <a href="{{ url_for('.view_sub',sub_id=sub['_id']['$oid']) }}">
                                            edit
                                        </a>
                                </div>
                                <div class="card-block">
                                    <div class=row>
                                        <div class="col-md-5 col-md-offset-3">
                                            <ol>
                                                {% for n in range(sub['content_items']|count) %}
                                                    {% for content in sub['content_items'] %}
                                                        {% if content['order'] == n %}
                                                            <li>
                                                                <a href="{{ url_for('.view_content',content_id=content['_id']['$oid']) }}">view</a>
                                                                {{ content['bullet'] }}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}   
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <hr />
                </div>
            </div>
        </div>
    {% endblock %}
