{% extends "layout.html" %}
    {% block content %}
        <div class=row>
            <div class="col-md-10 col-md-offset-1">
                <div class=row>
                    <div class=col-md-8>
                        <h3 class="display-1 text-capitalize talk-title">{{ talk['title'] }}</h3>
                    </div>
                    <div class="col-md-4">
                       <a
                           class="btn btn-primary-outline"
                           href="/talks/topic/add/{{ talk_id }}/"
                           style="display:inline-block;"
                        >Add Topic</a>
                    </div>
                </div>
                <div class=row>
                    {% for topic in talk['topics'] %}
                        <hr />
                        <div class="col-md-12">
                            <div class=row>
                                <div class=col-md-5>
                                    <div class=title>
                                        <h2>{{ topic['name'] }}</h2>
                                    </div>
                                </div>
                                <div class=col-md-1>
                                    <a
                                        href="{{ url_for('.view_topic',topic_id=topic['_id']['$oid']) }}"
                                        style="display:inline-block"
                                        class="btn btn-primary-outline"
                                    >View</a>
                                </div>
                                <div class=col-md-1>
                                    <a
                                        href="{{ url_for('.add_subtopic',topic_id=topic['_id']['$oid']) }}"
                                        style="display:inline-block"
                                        class="btn btn-success-outline"
                                    >Add</a>
                                </div>
                                <div class=col-md-1>
                                    <a
                                        href="{{ url_for('.delete_topic',obj_id=topic['_id']['$oid'],talk_id=talk_id) }}"
                                        style="display:inline-block"
                                        class="btn btn-danger-outline"
                                    >Delete</a>
                                </div>
                            </div>
                        </div>
                        <div class=col-md-12>
                            {% for sub in topic['sub_topics'] %}
                                <div class=row>
                                    <div class="col-md-5 col-md-push-1">
                                        <div class="text-left">
                                            <h5>
                                                {{ sub['name'] }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class=col-md-1>
                                        <a 
                                            class="btn btn-xs btn-primary-outline" 
                                            href="{{ url_for('.view_sub',sub_id=sub['_id']['$oid']) }}"
                                        >view
                                        </a>
                                    </div>
                                    <div class=col-md-3>
                                        <a 
                                            class="btn btn-xs btn-success-outline" 
                                            href="{{ url_for('.add_content',sub_id=sub['_id']['$oid']) }}"
                                        >Add
                                        </a>
                                    </div>
                                    <div class="col-md-11 col-md-push-2">
                                        <ul class="fa-ul">
                                            {#{% for n in range(sub['content_items']|count) %}#}
                                                {% for content in sub['content_items'] %}
                                                    {% if content['bullet'] %}
                                                    {#{% if content['order'] == n %}#}
                                                        <li><i class="fa-li fa fa-gg-circle"></i>
                                                            <div class=row>
                                                                <div class="col-md-7">
                                                                    {{ content['bullet'] }}
                                                                </div>
                                                                <div class="col-md-pull-4 col-md-1">
                                                                    <a
                                                                       href="{{ url_for('.view_content',content_id=content['_id']['$oid']) }}"
                                                                       class="btn btn-xs btn-primary-outline"
                                                                    >view</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {#{% endfor %}#}
                                          </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
